.env
*.duckdb
__pycache__/
*.pyc
cache/
.sqlmesh/
.venv/
etl/.venv/
ingestion/sling/bin/
ingestion/sling/duckdb*
ingestion/sling/.cache/
ingestion/sling/.duckdb/
ingestion/sling/.sling/
ingestion/sling/executions/
